<div id="profile">

    <img src="{{avatarUrl}}" alt="Avatar" id="avatar">

    <p><span>@{{username}}</span></p>

    <ul>
        <li><span>{{badges}}</span> badges earned</li>
        <li>Progress in HTML: <span>{{htmlPoints}}</span> points</li>
        <li>Progress in CSS: <span>{{cssPoints}}</span> points</li>
        <li>Progress in JavaScript: <span>{{javaScriptPoints}}</span> points</li>
        <li>Progress in Development Tools: <span>{{developmentToolsPoints}}</span> points</li>
        <li>Total points: <span>{{totalPoints}}</span></li>
        <li><a href="/">search again</a></li>
    </ul>

</div>
